<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h3>{{note.filename}}</h3>
        </mat-panel-title>
        <mat-panel-description style="padding-top: 2.5%">
            {{note.trainer.firstname}}
            {{note.trainer.lastname}}
        </mat-panel-description>
    </mat-expansion-panel-header>

<p>Filename: {{note.filename}}</p>
<p>Available: {{note.visible}}</p>
<p>Author: {{note.trainer.username}}</p>
<p>{{fileText}}</p>
</mat-expansion-panel>


<a href={{downloadLink}}>Download</a>
