<mat-expansion-panel *ngIf="isVisible()" style="border: 1px solid black; margin-top: 5px; margin-bottom: 10px;">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h3>{{n.filename}}</h3>
        </mat-panel-title>
        <mat-panel-description style="padding-top: 2.5%">
            {{n.trainer.firstname}}
            {{n.trainer.lastname}}
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngIf="this.global.currentUser.isInstructor">
        <mat-checkbox color="primary">Visible</mat-checkbox>
    </div>
    <div style="overflow: auto;">
        <p>Filename: {{n.filename}}</p>
        <p>Available: {{n.visible}}</p>
        <p>Author: {{n.trainer.username}}</p>
        <pre style="white-space:pre-line">
            <code>{{fileText}}</code></pre>
        <a href={{downloadLink}} matTooltip="Download file">
            <mat-icon color="primary">get_app</mat-icon>
        </a>
    </div>
</mat-expansion-panel>