<mat-card style="justify-content: center; width: 80%; padding-left: 10%; padding-right: 10%;" color="primary">
    <mat-card-title>Courses
        <button *ngIf="this.global.currentUser.isInstructor" (click)="openNewCourseDialog()" mat-icon-button
            matTooltip="Add a Course">
            <mat-icon color="primary">note_add</mat-icon>
        </button>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content style="margin-top: 2%">
        <mat-accordion style="background-color: white;">
            <div *ngIf="noCourses" style="padding-left:2%">
                <p>No Current Courses</p>
            </div>
            <div *ngFor="let course of allUserCourses">
                <app-course [c]="course"></app-course>
            </div>
        </mat-accordion>
    </mat-card-content>
</mat-card>