<!-- <h3>{{c.id}}. {{c.name}}</h3> -->
<!-- <p>{{c.users.length}} Students</p> -->
<mat-accordion style="width: 75%; padding-left: 25%">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        style="border: 0.5px solid black">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3>{{c.name}}</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="display: inline;">
            <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
                <input type="file" (change)="onFileSelect($event)" name="fileSelect" id="fileSelector" />

                <button type="submit" mat-icon-button>
                    <mat-icon>note_add</mat-icon>
                </button>

            </form>
        </div>

        <div *ngFor="let no of c.notes">

            <app-notes [n]="no">
            </app-notes>
        </div>
    </mat-expansion-panel>
</mat-accordion>