<div id="loginForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Login
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input type="text" [(ngModel)]="us" matInput placeholder="Username">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="password" [(ngModel)]="ps" matInput placeholder="Password">
      </mat-form-field>
    </mat-card-content>
    <p style="color: red">{{result}}</p>
    <mat-card-actions>
      <button (click)="login()" mat-stroked-button>Login</button>
    </mat-card-actions>
  </mat-card>
</div>